.row
	.contain-to-grid
		.large-12.small-8.columns
			.panel
				%h3.subheader
					Informations Public
				.row
					.large-3.small-3.columns.inline
						%label{ for: "username" } Username
					.small-9.columns
						%input.radius{ id: "username", type: "text", "ng-model" => "form.user.username", disabled: true }
					.large-3.small-3.columns.inline
						%label{ for: "description" } Description
					.small-9.columns
						%textarea.radius{ id: "description" } {{ form.user.description }}
					.large-3.small-3.columns
						%label Birthday
					.small-9.columns
						%select.medium-4.columns.radius.inline{ "ng-model" => "form.user.birthday.year" }
							%option{ "ng-repeat" => "year in range(80) track by $index", "ng-value" => "currentYear - 80 + $index" } {{ currentYear - $index }}
						%select.medium-4.columns.radius.inline{ "ng-model" => "form.user.birthday.month" }
							%option{ "ng-repeat" => "month in months track by $index", "value" => "{{ $index + 1 }}" } {{ month }}
						%select.medium-4.columns.radius.inline{ "ng-model" => "form.user.birthday.day" }
							%option{ "ng-repeat" => "day in days", "value" => "{{ day }}" } {{ day }}
					.large-3.small-3.columns
						%label{ for: "image" } Image
					.small-9.columns
						%input.radius{ id: "image", type: "text", "ng-model" => "form.user.image" }
					.large-3.small-3.columns
						%label{ for: "background" } Background
					.small-9.columns
						%input.radius{ id: "background", type: "text", "ng-model" => "form.user.background" }
					.large-3.small-3.columns
						%label{ for: "facebook" } Facebook
					.small-9.columns
						%input.radius{ id: "facebook", type: "text", "ng-model" => "form.user.facebook" }
					.large-3.small-3.columns
						%label{ for: "twitter" } Twitter
					.small-9.columns
						%input.radius{ id: "twitter", type: "text", "ng-model" => "form.user.twitter" }
					.large-3.small-3.columns
						%label{ for: "googleplus" } GooglePlus
					.small-9.columns
						%input.radius{ id: "googleplus", type: "text", "ng-model" => "form.user.googlePlus" }
				%h3.subheader
					Informations Personnel
				.row
					.large-3.small-3.columns.inline
						%label{ for: "firstname" } Firstname
					.small-9.columns
						%input.radius{ id: "firstname", type: "text", "ng-model" => "form.user.fname" }
					.large-3.small-3.columns.inline
						%label{ for: "lastname" } Lastname
					.small-9.columns
						%input.radius{ id: "lastname", type: "text", "ng-model" => "form.user.lname" }
					.large-3.small-3.columns.inline
						%label{ for: "password" } Password
					.small-9.columns
						%input.radius{ id: "password", type: "password", "ng-model" => "form.user.password" }
					.large-3.small-3.columns.inline
						%label{ for: "phone" } Phone
					.small-9.columns
						%input.radius{ id: "phone", type: "text", "ng-model" => "form.user.phoneNumber" }
					.large-3.small-3.columns.inline
						%label{ for: "newsletter" } Newsletter
					.small-9.columns
						%input.radius{ id: "newsletter", type: "checkbox", "ng-model" => "form.user.newsletter" }
					.large-3.small-3.columns.inline
						%label{ for: "language" } Language
					.small-9.columns
						%input.radius{ id: "language", type: "text", "ng-model" => "form.user.language" }
				.actions
					.large-4.columns.large-centered
						%input.button.radius.expand.success{ id: "", type: "button", value: "Save", "ng-click" => "submitForm()" }