.userProfile{ "ng-init" => "showInit()" }
	%loading{ "ng-if" => "loading == true" }
	.row{ "ng-if" => "loading == false" }
		.background-profil{ "style" => "{{ show.style }}" }
			.large-2.small-12.columns.large-centered
				.photo-profil-show.user.large-centered
					%img.photo-profil-user{ "ng-src" => '{{ "/assets/usersImage/avatars/" + show.user.image }}' }
			.username.text-center
				%b
					{{ show.user.username }}
			.small-2.columns.large-centered.inline
				.nb-followers.text-center
					{{ show.user.followers.length }}
					Followers
					.button.tiny.expand.radius{ "ng-if" => "user != false && user.id != show.user.id", "ng-class" => "isaFollower() ? 'success follow' : 'info notfollow'", "ng-click" => "isaFollower() ? unfollow() : follow()" }
						{{ isaFollower() ? 'Following' : 'Follow' }}
			.social-network.text-center
				%a{:href => '{{show.user.facebook}}'}
					%i.step.fi-social-facebook.size-42
				%a{:href => '{{show.user.twitter}}'}
					%i.step.fi-social-twitter.size-42
				%a{:href => '{{show.user.googlePlus}}'}
					%i.step.fi-social-google-plus.size-42
		.large-12.large-centered.columns{ 'ng-if' => 'show.user.isArtist' }
			.top-songs
				%h1.subheader.lato
					Top Songs
				%table.radius
					%thead.radius
						%tr
							%th Title
							%th Duration
							%th Price
							%th Rate (average)
							%th 
							%th 
					%tbody.radius
						%tr{ 'ng-repeat' => 'song in show.user.topFive track by $index' }
							%td{:width => '1000'}
								{{song.title}}
							%td{:width => '100'}
								{{ formatTime(song.duration) }}
							%td{:width => '50'}
								{{song.price}} $
							%td{:width => '200'}
								%i.fi-star{ "ng-repeat" => "n in range(song.getAverageNote)	track by $index" }
							%td{:width => '50'}
								%music{ "music-object" => "song" }
									%i.fi-play
							%td{:width => '50'} +
			.albums
				%h1.subheader.lato
					Albums
				.row{ 'ng-repeat' => 'album in show.user.albums track by $index' }
					.panel.clearfix
						%img{ "ng-src" => "{{'/assets/albums/' + album.image}}" }
						%table.right
							%thead
								%tr
									%th{ colspan: '5' } {{album.title}}
							%tbody
								%tr{ 'ng-repeat' => 'song in album.musics track by $index' }
									%td{:width => '50'}
										{{$index + 1 }}
									%td{:width => '300'}
										%div {{song.title}}
										%div{ "ng-mouseleave" => "setGolden(song, song.note)" }
											%span You : 
											%i.fi-star{ "ng-repeat" => "n in range(5)	track by $index", "ng-mouseover" => "setGolden(song, $index + 1)", "ng-class" => "{ goldenStar: (song.goldenStars > $index || (song.goldenStars == null && song.note > $index)) }", "ng-click" => "setNote(song)" }
									%td{:width => '100'}
										{{formatTime(song.duration)}}
									%td{:width => '50'}
										{{song.price}} $
									%td{:width => '50'}
										%music{ "music-object" => "song" }
											%i.fi-play
									%td{:width => '50'} +
						%hr
						%p {{ album.yearProd }} - {{ show.user.username }}
			.packsImplicated
				%h1.subheader
					Packs
				.panel
					Packs dans lequel est présent l'artiste
		.row.collapse
			%h1.subheader
				Tweets
			.small-11.columns{ "ng-if" => "user != false" }
				%input#inputTweet{ type: "text", placeholder: "Tell something !", "ng-model" => "tweet.input", "submit-input" => "sendTweet()" }
			.small-1.columns.end{ "ng-click" => "sendTweet()", "ng-if" => "user != false" }
				%a.button.postfix
					%i.fi-arrow-right
		%span {{ 140 - tweet.input.length }} characters left
		.tweets{ "on-scroll" => "reloadTweet()", "scroll-position" => "'bottom'" }
			.tweet.clearfix{ "ng-repeat" => "tweet in show.tweets.my" }
				.small-1.columns
					%img{ "ng-src" => '{{ "/assets/usersImage/avatars/" + tweet.user.image }}' }
				.contentTweet.small-offset-1.small-9.medium-10
					%tweet{ "tweet-msg" => "tweet.msg" }
					%p.underTweet
						%i.fi-clock
						%span {{ tweet.created_at }} - 
						%i.fi-comment.pointer{ "ng-click" => "comment(tweet.user.username)" }
						%span.pointer{ "ng-click" => "comment(tweet.user.username)" } Answer
			%loading{ "ng-if" => "loading_tweet", "loading-type" => "'square'" }
		.playlist
			%ul.pricing-table.small-12.medium-4.large-3.columns{ "ng-repeat" => "playlist in show.playlists", "ng-class" => "$last ? 'end' : ''" }
				%li.title {{ playlist.name }}
				%li.price {{ playlist.musics.length }} musics
				%li.description Duration (total) {{ formatTime(playlist.duration) }}
				%li.cta-button
					%a.button{ href: "/playlists/{{playlist.id}}" } More...