.home-artist{ "ng-controller"=>"HomeCtrl", "ng-init" => "initHome()" }
	.stat-container
		.title
			%h3 Your statistics
		.sell.small-12.clearfix
			.musics.small-12.medium-12.large-6.columns
				%loading{ "ng-if" => "loading.music == true" }
				%charts{ "ng-if" => "loading.music == false", "type-chart" => "'bar'", "values" => "values.music.data", "xkey" => "values.music.xkey", "ykeys" => "values.music.ykeys", "labels" => "values.music.labels" }
			.albums.small-12.medium-12.large-6.columns
				%loading{ "ng-if" => "loading.album == true" }
				%charts{ "ng-if" => "loading.album == false", "type-chart" => "'bar'", "values" => "values.album.data", "xkey" => "values.album.xkey", "ykeys" => "values.album.ykeys", "labels" => "values.album.labels" }
			.packs.small-12.medium-12.large-6.columns.end
				%loading{ "ng-if" => "loading.pack == true" }
				%charts{ "ng-if" => "loading.pack == false", "type-chart" => "'bar'", "values" => "values.pack.data", "xkey" => "values.pack.xkey", "ykeys" => "values.pack.ykeys", "labels" => "values.pack.labels" }
			.notes.small-12.medium-12.large-6.columns.end
				%loading{ "ng-if" => "loading.note == true" }
				.charts{ "ng-if" => "loading.note == false" }
					Contenu
		.battle
			.currentBattle.clearfix
				.small-12.medium-6.large-4.columns
					Battle
				.small-12.medium-6.large-4.columns
					Battle
				.small-12.medium-6.large-4.columns
					Battle
				.small-12.medium-6.large-4.columns.end
					Battle
			.lastBattle.clearfix
				.small-12.medium-6.large-4.columns
					Battle
				.small-12.medium-6.large-4.columns
					Battle
				.small-12.medium-6.large-4.columns
					Battle
				.small-12.medium-6.large-4.columns.end
					Battle
	.text-container.clearfix
		.commentaries.small-12.medium-6.columns
			.title
				%h3 Last commentaries
			%ul
				%li Com 1
				%li Com 2
				%li Com 3
				%li Com 4
				%li Com 5
		.commentaries.small-12.medium-6.columns.end
			.title
				%h3 Tweets
			%ul
				%li Tweets 1
				%li Tweets 2
				%li Tweets 3
				%li Tweets 4
				%li Tweets 5