.home-artist{ "ng-controller"=>"HomeCtrl", "ng-init" => "initHome()" }
	.stat-container
		.title
			%h3 Your statistics
		.sell.small-12.clearfix
			.musics.small-12.medium-12.large-6.columns
				%h5 Sell statistics for musics
				%loading{ "ng-if" => "loading.music == true" }
				%charts{ "ng-if" => "loading.music == false", "type-chart" => "'bar'", "values" => "values.music.data", "xkey" => "values.music.xkey", "ykeys" => "values.music.ykeys", "labels" => "values.music.labels" }
			.albums.small-12.medium-12.large-6.columns
				%h5 Sell statistics for albums
				%loading{ "ng-if" => "loading.album == true" }
				%charts{ "ng-if" => "loading.album == false", "type-chart" => "'bar'", "values" => "values.album.data", "xkey" => "values.album.xkey", "ykeys" => "values.album.ykeys", "labels" => "values.album.labels" }
			.packs.small-12.medium-12.large-6.columns
				%h5 Sell statistics for packs
				%loading{ "ng-if" => "loading.pack == true" }
				%charts{ "ng-if" => "loading.pack == false", "type-chart" => "'bar'", "values" => "values.pack.data", "xkey" => "values.pack.xkey", "ykeys" => "values.pack.ykeys", "labels" => "values.pack.labels" }
			.notes_music.small-12.medium-12.large-6.columns
				%h5 The statistics about music notes
				%loading{ "ng-if" => "loading.note == true" }
				%charts{ "ng-if" => "loading.note == false", "type-chart" => "'line'", "values" => "values.note_musics.data", "xkey" => "values.note_musics.xkey", "ykeys" => "values.note_musics.ykeys", "labels" => "values.note_musics.labels" }
			.notes_album.small-12.medium-12.large-6.columns.end
				%h5 The statistics about album notes (based on music notes)
				%loading{ "ng-if" => "loading.note == true" }
				%charts{ "ng-if" => "loading.note == false", "type-chart" => "'bar'", "values" => "values.note_albums.data", "xkey" => "values.note_albums.xkey", "ykeys" => "values.note_albums.ykeys", "labels" => "values.note_albums.labels" }
		.battle
			.currentBattle.clearfix
				%h5 Current battles
				.small-12.medium-6.large-4.columns{ "ng-repeat" => "battle in battles.current", "ng-class" => "$last ? 'end' : ''" }
					%charts{ "ng-if" => "loading.battle == false", "type-chart" => "'donut'", "values" => "battle.votesValue" }
				%p{ "ng-if" => "battles.current.length == 0" }
					No battle currently available
			.lastBattle.clearfix
				%h5 Past battles
				.small-12.medium-6.large-4.columns{ "ng-repeat" => "battle in battles.past", "ng-class" => "$last ? 'end' : ''" }
					%charts{ "ng-if" => "loading.battle == false", "type-chart" => "'donut'", "values" => "battle.votesValue" }
				%p{ "ng-if" => "battles.past.length == 0" }
					No battle currently available
	.text-container.clearfix
		.commentaries.small-12.medium-6.columns
			.title
				%h3 Last commentaries
			%ul
				%li Com 1
				%li Com 2
				%li Com 3
				%li Com 4
				%li Com 5
		.commentaries.small-12.medium-6.columns.end
			.title
				%h3 Tweets
			%ul
				%li Tweets 1
				%li Tweets 2
				%li Tweets 3
				%li Tweets 4
				%li Tweets 5