.battle{ "ng-init" => "indexInit()" }
	%loading{ "ng-if" => "loading == true" }
	.row{ "ng-if" => "loading == false" }
		%h1.subheader {{ labels.DISPLAY_BATTLE_LIST_LABEL }}
		.clearfix.battleLine{ "ng-repeat" => "battle in index.battles" }
			%hr
			.medium-4.columns
				%p
					%a{ href: "/users/{{ battle.artist_one.id }}" } {{ battle.artist_one.username }}
				%img{ "ng-src" => "{{ '/assets/usersImage/avatars/' + battle.artist_one.image}}" }
				%p{ "ng-if" => "currentUser != false" }
					%span{ "ng-click" => "indexVoteFor(battle, battle.artist_one)", "class" => "label radius {{ voteClass(index.voteCurrentUser[battle.id], battle.artist_one.id) }}" } {{ voteText(index.voteCurrentUser[battle.id], battle.artist_one.id) }}
			.medium-4.columns
				%battle{ "battle-values" => "index.votes[battle.id]" }
				%a.button.radius{ href: "/battles/{{ battle.id }}" } {{ labels.DISPLAY_BATTLE_LINK_TO_SHOW_LABEL }}
			.medium-4.columns.end
				%p
					%a{ href: "/users/{{ battle.artist_one.id }}" } {{ battle.artist_two.username }}
				%img{ "ng-src" => "{{ '/assets/usersImage/avatars/' + battle.artist_two.image}}" }
				%p{ "ng-if" => "currentUser != false" }
					%span{ "ng-click" => "indexVoteFor(battle, battle.artist_two)", "class" => "label radius {{ voteClass(index.voteCurrentUser[battle.id], battle.artist_two.id) }}" } {{ voteText(index.voteCurrentUser[battle.id], battle.artist_two.id) }}
		.pagination-centered
			%ul.pagination
				%li{ "class" => "arrow {{ (index.currentPage == 1) ? 'unavailable' : '' }}" }
					%a{ href: ""} &laquo;
				%li{ "ng-repeat" => "num in range(min(index.currentPage, 5) + min(index.numberPages - 1, 5)) track by $index", "class" => "{{ $index + 1 == min(index.currentPage, 5) ? 'current' : '' }}" }
					%a{ href: ""} {{ index.currentPage - min(index.currentPage, 5) + $index + 1 }}
				%li{ "class" => "arrow {{ (index.numberPages == index.currentPage) ? 'unavailable' : '' }}" }
					%a{ href: ""} &raquo;