%div{ "ng-init" => "showPacksById()" }
  %loading{ "ng-if" => "loading == true" }
  .row{ "ng-if" => "loading == false", "ng-init" => "initFoundation()"}
    %h3.subheader
      Packs du moment
    .ul.small-11.small-centered.columns{"ng-show" => "thisPackId"}
      %li
        .panel
          %h5.subheader.text-center
            {{ thisPack.title }}