%pack{ "ng-init" => "showPacksById()" }
  %loading{ "ng-if" => "loading == true" }
  .row{ "ng-if" => "loading == false", "ng-init" => "initFoundation()"}
    %div{"ng-show" => "thisPackId"}
      %h3.subheader.text-center
        {{ thisPack.title }}
      %div{"ng-init" => "timeLeft()"}
        %h5.subheader.text-center
          {{ labels.DISPLAY_PACK_TIMELEFT }} : {{ thisPack.timeLeftPack }}
      .ul.large-block-grid-4.centered.columns
        %li{"ng-repeat" => "album in thisPack.albums"}
          .panel
            %h3.subheader
              %p.text-center
                {{ album.title }}
            %a{:href => "http://lvh.me:3000/albums/ {{ album.id }}"}
              %img{ "ng-src" => "{{ '/assets/albums/' + thisPack.albums[0].image }} " }
            .divider
            {{ labels.DISPLAY_PACK_ARTIST_NAME }} : {{ album.user.username }}
            %br
            {{ labels.DISPLAY_PACK_YEAR_ALBUM }} : {{ album.yearProd }}
      .row
        .large-6.columns
          .panel.left{"ng-init" => "managePrice()"}
            .large-9.columns
              {{ labels.DISPLAY_PACK_ARTIST_NAME }}
              .range-slider.round{"data-options" => "display-selector: #priceArtist; start:0; end:100; initial: 70", "data-slider" => ""}
                %span.range-slider-handle{:role => "slider", "tabindex" => "0"}
                %span.range-slider-active-segment
            .small-3.columns
              %br
              %input#priceArtist{:type => "number", "value" => "{{ artistPercentage }}" }
            .large-9.columns
              {{ labels.DISPLAY_PACK_ASSOCIATION_NAME }}
              .range-slider.round{"data-options" => "display-selector: #priceAsso; start:0; end:100; initial: 20", "data-slider" => ""}
                %span.range-slider-handle{:role => "slider", "tabindex" => "0"}
                %span.range-slider-active-segment
            .small-3.columns
              %br
              %input#priceAsso{:type => "number", "value" => "{{ associationPercentage }}" }
            .large-9.columns
              {{ labels.DISPLAY_PACK_DEV_NAME }}
              .range-slider.round{"data-options" => "display-selector: #priceDev; start:0; end:100; initial: 10", "data-slider" => ""}
                %span.range-slider-handle{:role => "slider", "tabindex" => "0"}
                %span.range-slider-active-segment
            .small-3.columns
              %br
              %input#priceDev{:type => "number", "value" => "{{ websitePercentage }}" }
            .large-4.columns
              .divider
              {{ labels.DISPLAY_PACK_TOTAL_PACK }} : {{ priceMini }}
        .large-6.columns
          .panel
            %battle{ "battle-values" => "percentages" }
        
        //Albums + song
        
        .large-12.columns
          .button.expand.radius.success{ "ng-click" => "toPayment()" }
            {{ labels.DISPLAY_PACK_BUY_PACK }}
