%pack{ "ng-init" => "showPacksById()" }
  %loading{ "ng-if" => "loading == true" }
  .row{ "ng-if" => "loading == false", "ng-init" => "initFoundation()"}
    %div{"ng-show" => "thisPackId"}
      %h3.subheader.text-center
        {{ thisPack.title }}
      %div{"ng-init" => "timeLeft()"}
        %h5.subheader.text-center
          {{ labels.DISPLAY_PACK_TIMELEFT }} : {{ thisPack.timeLeftPack }}
      .ul.large-block-grid-4.centered.columns
        %li{"ng-repeat" => "album in thisPack.albums"}
          .panel
            %h3.subheader
              %p.text-center
                {{ album.title }}
            %a{:href => "http://lvh.me:3000/albums/ {{ album.id }}"}
              %img{ "ng-src" => "{{ '/assets/albums/' + thisPack.albums[0].image }} " }
            .divider
            {{ labels.DISPLAY_PACK_ARTIST_NAME }} : {{ album.user.username }}
            %br
            {{ labels.DISPLAY_PACK_YEAR_ALBUM }} : {{ album.yearProd }}
      .row
        .large-6.columns
          .panel.left{"ng-init" => "managePrice()"}
            .large-9.columns
              %input{:type => "range", "ng-model" => "newValuePercentage.artist", "ng-change" => "varRange('artist')", "min" => "0", "max" => "100"}
            .small-2.medium-1.columns
              {{ realValue.artist }}
            .large-9.columns
              %input{:type => "range", "ng-model" => "newValuePercentage.asso", "ng-change" => "varRange('asso')", "min" => "0", "max" => "100"}
            .small-2.medium-1.columns
              {{ realValue.asso }}
            .large-9.columns
              %input{:type => "range", "ng-model" => "newValuePercentage.web", "ng-change" => "varRange('web')", "min" => "0", "max" => "100"}
            .small-2.medium-1.columns
              {{ realValue.web }}
            %input{ type: "text", "ng-model" => "input.price", "ng-change" => "updatePrice()" }

            .large-4.columns
              .divider
              {{ labels.DISPLAY_PACK_TOTAL_PACK }} : {{ priceMini }}
        .large-6.columns
          .panel
            %battle{ "battle-values" => "percentages" }

        //Albums + song

        .large-12.columns
          .button.expand.radius.success{ "ng-click" => "toPayment()" }
            {{ labels.DISPLAY_PACK_BUY_PACK }}


