/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

.soonzik-logo {
    margin-left: 20px;
    float: left;
    width: 200px;
    height: 60px;
    display: block;
}

.loupe {
	width: 20px;
	position: absolute;
	margin-top: 20px;
}

.top-bar input {
	min-width: 350px;
	
}

.top-bar-section .right li .dropdown {
	min-width: 200px;
	float: right !important;
}

.top-bar-section .has-dropdown {
	float: right;
}

.photo-profile {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 15px;
}

.profile {
    float: right;
    font-size: 17px;
    margin-right: 55px;
    margin-top: 5px;
}

.menu-logo {
	width: 50px;
    margin-top: 7px;

}

.name {

}

.modify {

}

.top-bar-section .dropdown li {
	min-width: 265px !important;
	left: -75px;
}

.top-bar-section .right li .dropdown {
    right: auto !important;
}

#player {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: none repeat scroll 0% 0% #25292B;
	font-family: Roboto;
}

.picture {
	width: 60px;
	height: 100%;
	float: left;
}

.player .picture img {
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 5px;
}

#button-player-left {
	width: auto;
	height: 100%;
	margin-top: 0px;
	margin-left: 20px;
	float: left;
}

.sound {
	width: 25px !important;
}

#button-player-right {
	height: 100%;
	width: auto;
	margin-right: 15px;
	float: right;
}

#player #button-player-right img {
	width: 30px;
	margin-top: 15px;
	margin-left: 15px;
}

#play { 
	width: 30px !important;
  	cursor:  pointer;
}

#player #button-player-left img {
	width: 30px;
	margin-top: 15px;
	margin-left: 5px;
}

#title {
	width: 250px;
	color: #FFF;
	float: left;
	margin-top: -53px;
	margin-left: 75px;
	font-family: Roboto;
}

.player-time-begin {
	margin-left: 50px;
	margin-top: 30px;
	color: #C0C0C0;
	position: relative;
	float: left;
	font-size: 12px;
}

.player-artist-name {
	margin-top: 5px;
	text-align: center;
	color: #C0C0C0;
	width: auto;
	float: left;
}

.player-time-left {
	color: #C0C0C0;
	width: auto;
	margin-top: 30px;
	font-size: 12px;
	margin-left: 30px;
	float: left;
}

#waveform-container {
	position: absolute;
	z-index: 10;
	top: 50%;
	margin-top: 0;
	left: 23%;
	width: 65%;
}

#waveform {
	position: realative;
}

#progress-bar {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -10px;
	left: 23%;
	width: 65%;
}

/* Customize container */
@media (min-width: 1024px) {
    .container {
        max-width: 900px;
    }
}

.links {
	font-size: 12px;
	text-align: center;
}

.social-button {
	margin-left: 30px;
}

.social-button .button {
	margin: 0 0 0.25rem !important;
}

.top-bar-section .right li .dropdown {
	left: 0;
}

.divider {
	background-color: #D8D8D8;
	height: 1px;
	margin: 10px 0px;
}