/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require ./fonts/Drakolomb.css
 *= require ./fonts/Lato-Regular.css
 *= stub active_admin
 *= require_self
 *

 */

/* Add imports of custom sass/scss files here */

@import "foundation-icons";

html {
	height: 100vh;
}

body {
	min-height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	position: absolute;
	top: 0;
	left: 0;
}

main.row {
	min-height: 100%;
  background: whitesmoke;
  padding-top: 65px;
  padding-left: 20px;
  padding-right: 20px;

  & > small.error {
  	margin-top: 0;
  }

  & > .large-12 > div {
	  padding-bottom: 60px;
  }
}

.soonzik-logo {
    margin-left: 20px;
    float: left;
    width: 200px;
    height: 60px;
    display: block;
}

.loupe {
	width: 20px;
	position: absolute;
	margin-top: 20px;
}

.top-bar input {
	min-width: 350px;
	
}

.top-bar-section .right li .dropdown {
	min-width: 200px;
	float: right !important;
}

.top-bar-section .has-dropdown {
	float: right;
}

.photo-profile {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 15px;
}

.sign-up {
	margin-right: 30px !important;
	display: inline-block;
}

.log-in {
	display: inline-block;
	margin-left: 30px !important;
}

.profile {
    float: right;
    font-size: 17px;
    margin-right: 20px;
    margin-top: 5px;
}

.menu-logo {
	width: 50px;
    margin-top: 7px;

}

.top-bar-section .dropdown li {
	min-width: 265px !important;
	left: -75px;
}

.top-bar-section .right li .dropdown {
    right: auto !important;
}

/* Customize container */
@media (min-width: 1024px) {
	.container {
		max-width: 900px;
	}
}

.links {
	font-size: 12px;
	text-align: center;
}

.social-button {
	margin-left: 30px;
}

.social-button .button {
	margin: 0 0 0.25rem !important;
}

.top-bar-section .right li .dropdown {
	left: 0;
}

.divider {
	background-color: #D8D8D8;
	height: 1px;
	margin: 10px 0px;
}

.size-42 {
	font-size: 42px;
}

music {
	cursor: pointer;
}

.pricing-table li.title {
	background: #6B6B6B;
}

.pricing-table li.price {
	color: #6B6B6B;
}

.relative {
	position: relative;
}

.mytooltip {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 35px;
	cursor: pointer;
	color: white;
	left: 0;
	right: 0;
	width: 300px;
	z-index: 2;
	text-align: center;
	padding: 5px;
  margin-bottom: 60px;

	&.toolleft {
		left: 20px;
		right: initial;

		&:before {
		  right: initial;
		}
	}

	&.toolright {
		right: 20px;
		left: initial;

		&:before {
		  left: initial;
		}
	}

	&:before {
		top: -20px;
	  bottom: auto;
	  content: "";
	  left: 0;
	  right: 0;
	  position: absolute;
	  border-width: 10px;
	  border-style: solid;
	  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
	  display: block;
	  width: 0;
	}

	.choice {
		cursor: pointer;

		&:hover {
			background: black;
			color: #008CBA;
		}
	}
}

div.reveal-modal-bg {
	position: fixed;
}