.discotheque {

	.radio {
		padding-left: 20px;
		background: #252525;
    margin-top: -20px;
    padding-top: 15px;

		input[type=radio]:checked + label:before {
	    content: "\2022";
	    color: #f3f3f3;
	    font-size: 30px;
	    text-align: center;
	    line-height: 17px;
	    padding-right: 1px;
		}

		label {
	    display: inline-block;
	    cursor: pointer;
	    position: relative;
	    padding-left: 25px;
	    margin-right: 15px;
	    font-size: 13px;
	    color: #F5F5F5;

	    &:before {
		    content: "";
		    display: inline-block;
		    width: 16px;
		    height: 16px;
		    margin-right: 10px;
		    position: absolute;
		    left: 0;
		    bottom: 3px;
		    background-color: #008CBA;
		    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
			}
		}
	}
	
	.radio label:before {
    border-radius: 8px;
	}

	input[type=radio] {
    display: none;
	}


	.discothequeContainer {
		.myMusics {

			.grid {
				img { width: 75px;height: 75px; }

				li {
					width: 140px;
					position: relative;
					background: #333;
			    color: white;
			    padding: 10px 20px;
			    margin-bottom: 10px;

			    span {
						text-overflow : ellipsis;
						white-space : nowrap;
						overflow : hidden;
			    }

					.overPlay {
						visibility: hidden;
						height: 100%;
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background: rgba(0, 0, 0, 0.6);
						color: white;
						font-size: 25px;
						line-height: 100px;
						opacity: 0;
						-webkit-transition: opacity 0.4s ease-in-out;
						-moz-transition: opacity 0.4s ease-in-out;
						-ms-transition: opacity 0.4s ease-in-out;
						-o-transition: opacity 0.4s ease-in-out;
						transition: opacity 0.4s ease-in-out;
					}

					&:hover .overPlay {
						visibility: visible;
						opacity: 1;
					}
				}
			}

			.list {

				.lineMusic {
					border-top: 1px solid #555555;
	        padding: 5px 0;
			  }

			  .lineMusic:last-child {
					border-bottom: 1px solid #555555;
			  }
			}

			h3 {
				padding-left: 20px;
				padding-top: 20px;
			}

			.music {
				.clearfix {
					height: 55px;
					line-height: 55px;
				}
			}

			.playlistBlock {
				background: black;

				ul {
					margin-left: 0;

					li {
				    padding-left: 2px;
					}

					label {
				    color: #008CBA;
					}
				}
			}

			.mytooltip {
		    right: 0px;
		    top: 40px;
			}
		}
	}

	.pack {

		h4 {
			margin-bottom: 4px;
		}

		h4 span {
			margin-left: 10px;
	    padding-right: 10px;
	    border-bottom: 2px solid darkgray;
	    padding-bottom: 5px;
		}

		.packContent {
			border-left: 2px solid darkgray;
			margin-left: 10px;
		}

		.redBorder {
			border-color: #AA3333;
		}

		.blueBorder {
			border-color: #3333AA;
		}

		.greenBorder {
			border-color: #33AA33;
		}
	}

}