// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.news {

	padding-top: 20px;

	ul {
		margin-left: 30px;
	}

	.author {
		font-style: italic;
		font-size: 12px;
	}

	.title {
		color: black;
		text-transform: uppercase;
		font-weight: bold;
	}

	.date {
		margin-top: -25px;
		font-style: italic;
		font-size: 12px;
	}

	.vignette {
		display: block;
		width: 50%;
		height: 50%;
		margin: 15px auto; 
	}

	.content {
		display: inline-block;
	}

	i {
		margin-left: 10px;
		font-size: 50px;
  		color: #008CBA;
	}

	.button {
		width: auto;
		float: right;
		margin-top: 12px;
	}

	.content-comment {
		color: black;
		font-size: 12px;
	}

	.info-user {
		margin-bottom: 10px;
		color: #C0C0C0;
		font-size: bold;
		text-transformation: italic;
	}

	li {
		list-style-type: none;
	}

	.photo img {
		float: left;
  		width: 4%;
  		border-radius: 100%;
  		margin-top: -5px;
	}

	.photo {
		padding: 5px;
	}

	.info {
	  margin-left: 50px;
	}

	.comment {
		margin-top: 5px;
		margin-left: 20px;
	}
}