// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.news {

	padding-top: 20px;

	ul {
		margin-left: 30px;
	}

	.author {
		font-style: italic;
		font-size: 12px;
	}

	.title {
		color: black;
		text-transform: uppercase;
		font-weight: bold;
	}

	.date {
		margin-top: -25px;
		font-style: italic;
		font-size: 12px;
	}
}