.index {
	
	slider img {
		width: 100%;
		height: 300px;
	}

	.battle {
		text-align: center;
		line-height: 175px;
		height: 230px;
		display: block;
	}

	.battle img {
		width: 150px;
		height: 150px;
	}

	.battle p {
		font-weight: bold;
	}
}