/* ------------------------ */
/* |        PLAYER        | */
/* ------------------------ */

#player {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: #25292B;
	font-family: Roboto;

	div {
		height: 60px;
		position: relative;
	}
	
	.columns {
		padding: 0 5px 0 15px;
	}

	.controls a {
	  font-size: 30px;
	  line-height: 60px;
	}

	.timer {
		color: white;

		i {
			position: absolute;
			right: 10px;
			top: 10px;
		  font-size: 30px;
		  cursor: pointer;
		}
	}

	.volumeBlock {
		position: relative;
		display: inline;

		.volumeSelection {
			position: absolute;
			display: none;
			bottom: 30px;
			width: 25px;
			height: 160px;
			background: #25292B;
			left: 0;
		  z-index: 3;

			.volumeBackground {
				background: #25292B;
				height: 130px;
				width: 19px;
				position: absolute;
				left: 3px;
				top: 15px;
			}

			#sliderVolume {
				height: 120px;
				margin-top: 25px;
				width: 19px;
				margin-left: 3px;
				position: relative;

				div {
					background: #008CBA;
					position: absolute;
				  z-index: 1;
				  display: block;
				  border: 0;
				  background-position: 0 0;
				  left: 0;
				  bottom: 0;
					width: 19px;
				}

				span {
					background: #CFCFCF;
					position: absolute;
				  z-index: 20;
				  width: 20px;
				  left: 0;
				  height: 10px;
				  cursor: default;
				  -ms-touch-action: none;
				  touch-action: none;
				}
			}
		}

		&:hover .volumeSelection {
			display: block;
		}
	}

	p {
		color: white;
		margin-bottom: 0px;
		font-size: 13px;
		height: 20px;
		line-height: 20px;
	}

	wavesurfer {
		padding-left: 0;
		padding-right: 0;
	}
}

#waveform-container {
	position: absolute;
	z-index: 10;
	top: 50%;
	margin-top: 0;
	left: 23%;
	width: 65%;
}

/* Customize player */
@media (max-width: 1070px) {
	#player .controls a {
	  font-size: 17px;
	}
}

@media (max-width: 640px) {
	#player .controls {
		overflow: hidden;
		height: 60px;
		background: #25292B;

		&:hover {
			overflow: visible;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;

			.volumeSelection {
			  bottom: -55px;
			  right: -25px;
			  left: initial;
			  height: 200px;
			}
		}

		&:hover .toHide {
			display: none !important;
		}
	}

	#player .controls a {
	  display: block;
	  width: 100%;
	  text-align: center;
	}
}

/* ------------------------ */
/* |      PLAYLIST        | */
/* ------------------------ */

#currentPlaylist {
	background: #1C1E1F;
	position: fixed;
	right: -800px;
	top: 0;
	height: 100%;
	color: #B0B0B0;
	max-width: 800px;
  z-index: 50;

	h2 {
		padding-top: 20px;
		color: #B0B0B0;
	}

	& > div {
		height: 100%;
	}

	.currentList {
		overflow: auto;
		padding-bottom: 10px;

		.musicInformations {
			border: 1px solid #DDD;
			padding: 5px;
			margin-top: 5px;
		}

		.songName:hover {
			color: #D07E00;
			cursor: pointer;
		}
	}

	.currentPlaying {
		color: #008CBA;
		text-indent:15px;
	}

	i {
		cursor: pointer;
	}

	-webkit-transition: right 1.5s ease;
	-moz-transition: right 1.5s ease;
	-ms-transition: right 1.5s ease;
	-o-transition: right 1.5s ease;
	transition: right 1.5s ease;
}