<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="7ab7bc39-96cd-43b1-91d6-4d5b65d93c79" Publisher="CN=test" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SoonZik</DisplayName>
    <PublisherDisplayName>test</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SoonZik.App">
      <m2:VisualElements DisplayName="SoonZik" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="SoonZik" ForegroundText="light" BackgroundColor="#464646" ToastCapable="false">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#CCCCCC" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="musicLibrary" />
    <Capability Name="removableStorage" />
  </Capabilities>
</Package>