%cart{"ng-init" => "initFoundation()" }
	.row{"ng-init" => "showCart()"}
		%h1 {{ labels.DISPLAY_CART_LABEL }}
		%table
			%thead
				%tr
					%th{ colspan: '5' } Panier
			%tbody{"ng-repeat" => "musics in carts"}
				%tr{"ng-repeat" => "music in musics.musics"}
					%td {{ music.title }}
					%td
						%a.fi-x{"ng-click" => "deleteItem(musics.id)"}
				%tr{"ng-repeat" => "album in musics.albums"}
					%td{:width => 300}
						{{ album.title}}
					%td
						%a.fi-x{"ng-click" => "deleteItem(musics.id)"}
		.button.expand.radius.success
			%a{:href => "#", "ng-click" => "buyCart()"} {{ labels.DISPLAY_CART_BUY }}