.cart{"ng-init" => "initFoundation()" }
	%h1 {{ labels.DISPLAY_CART_LABEL }} Panier
	.row{"ng-init" => "showCart()"}
		%p{'ng-if' => 'isEmpty == true'}
			%h3.subheader
				Pas d'éléments dans le cart
		.ul.large-block-grid-2.centered.columns{'ng-if' => 'isEmpty == false'}
			%h3 Albums
			%li{"ng-repeat" => "musics in carts"}
				.panel{"ng-repeat" => "album in musics.albums"}
					%h3.subheader
						%p.text-center
							{{ album.title }}
					.divider
					%p.right
						{{ labels.DISPLAY_PACK_ARTIST_NAME }} : {{ album.user.username }}
						%br
						{{ labels.DISPLAY_PACK_YEAR_ALBUM }} : {{ album.yearProd }}
						%br
						Prix : {{ album.price }} €
						%br
						%a.fi-x.right{"ng-click" => "deleteItem(musics.id)"}
							Delete
					%a{:href => "http://lvh.me:3000/albums/ {{ album.id }}"}
						%img.centered{ "ng-src" => "{{ '/assets/albums/' + album.image }}"}

		.ul.large-block-grid-2.centered.columns{'ng-if' => 'isEmpty == false'}
			%h3 Musics
			%li{"ng-repeat" => "musics in carts"}
				.panel{"ng-repeat" => "music in musics.musics"}
					%h3.subheader
						%p.text-center
							{{ labels.DISPLAY_PACK_ARTIST_NAME }} : {{ music.user.username }} / {{ music.title }}
					.divider
					%a.fi-x.left{"ng-click" => "deleteItem(musics.id)"}
						Delete
					%p.right
						Prix : {{ music.price }} €
					%br
		.large-block-grid-1.right{'ng-if' => 'isEmpty == false'}
			.divider
			Total : {{ totalPrice }} €
		%span{"ng-if" => "isEmpty == false"}
			.button.expand.radius.success{ "ng-click" => "toPayment()" }
				{{ labels.DISPLAY_CART_BUY }}
