%cart{ "ng-init" => "showCart()" }
	%loading{ "ng-if" => "loading == true" }
		.row{ "ng-if" => "loading == false", "ng-init" => "initFoundation()"}
			.clearfix{"ng-if" => "haveAlbum == true"}
				Album : {{}}
			.clearfix{"ng-if" => "haveMusic == true"}
				Musique : {{}}
	.button.success.radius
		Acheter le panier ?

