%cart{"ng-init" => "initFoundation()" }
	.row{"ng-init" => "showCart()"}
		%h1 Panier
		%div{"ng-repeat" => "musics in carts"}
			%div{"ng-repeat" => "music in musics"}
				%div{"ng-repeat" => "test in music"}
					{{ test.title }}
