.index{ "ng-init" => "initIndex()" }
  %loading{ "ng-if" => "loading == true" }
  .index{ "ng-if" => "loading == false" }
    .row
      .small-12.columns{ "ng-class" => "classLeftSide" }
        .clearfix
          %h3.subheader.left
            Dernières news
          %h3.subheader.right
            %a{:href => "/news"} Voir tout
        .clearfix
          .small-6.columns{"ng-repeat" => "new in news", :class => "{{ $last ? 'end' : '' }}"}
            %a{ href: "/news/{{new.id}}" }
              %img{ "ng-src" => "{{ (new.attachments.length == 0) ? '/assets/news/placeholder.jpg' : '/assets/news/' + new.attachments[0].url }}" }
            %p.text-center
              %a{ href: "/news/{{new.id}}" }
                %strong {{new.title}}
        .divider
        .clearfix
          %h3.subheader.left
            Packs du moment
          %h3.subheader.right
            %a{:href => "/packs"} Voir tout
        %ul.no-bullet.clearfix.lastPacks
          %li.small-6.columns{ "ng-repeat" => "pack in packs"}
            .panel
              %h5.subheader.text-center
                %a{ href: "/packs/{{pack.id}}" } {{ pack.title }}
              %img{ "ng-src" => "{{ '/assets/albums/' + pack.albums[0].image }}"}
              %p Temps Restant : {{ pack.timeLeft }}
              %p Moyenne : {{ pack.averagePrice }} $
      .small-12.medium-4.columns{ "ng-if" => "user != false" }
        %loading{ "ng-if" => "loadingRightSide == true" }
        .contentRightSide.userProfile{ "ng-if" => "loadingRightSide == false" }
          .btnGroup
            .button.tiny{ "ng-click" => "selectFlux()" } Flux
            .button.tiny{ "ng-click" => "selectInteraction()" } Interactions
          .tab_flux{ "ng-show" => "tab == 0" }
            %p{ "ng-if" => "tweets.length == 0" } No tweets to display
            .sweet.tweets{ "on-scroll" => "reloadTweet()", "scroll-position" => "'bottom'" }
              .sweetContainer.tweet.clearfix{ "ng-repeat" => "tweet in tweets" }
                .small-1.columns
                  %a{ href: "/users/{{tweet.user.id}}" }
                    %img{ "ng-src" => "{{ '/assets/usersImage/avatars/' + tweet.user.image }}" }
                .contentTweet.small-11.columns
                  %tweet{ "tweet-msg" => "tweet.msg" }
                  %p.underTweet
                    %i.fi-clock
                    %span {{ tweet.created_at }} -
                    %i.fi-comment.pointer{ "ng-click" => "comment(tweet.user.username)" }
                    %span.pointer{ "ng-click" => "comment(tweet.user.username)" } Answer
              %loading{ "ng-if" => "loading_tweet", "loading-type" => "'square'" }
          .tab_my_talk{ "ng-show" => "tab != 0" }
            %p{ "ng-if" => "otherTweets.length == 0" } No tweets to display
            .sweet.tweets{ "on-scroll" => "reloadPersonalTweet()", "scroll-position" => "'bottom'" }
              .sweetContainer.tweet.clearfix{ "ng-repeat" => "tweet in otherTweets" }
                .small-1.columns
                  %img{ "ng-src" => "{{ '/assets/usersImage/avatars/' + tweet.user.image }}" }
                .contentTweet.small-11.columns
                  %tweet{ "tweet-msg" => "tweet.msg" }
                  %p.underTweet
                    %i.fi-clock
                    %span {{ tweet.created_at }} -
                    %i.fi-comment.pointer{ "ng-click" => "comment(tweet.user.username)" }
                    %span.pointer{ "ng-click" => "comment(tweet.user.username)" } Answer
              %loading{ "ng-if" => "loading_tweet", "loading-type" => "'square'" }
          .row.collapse
            .small-10.columns
              %input#inputTweet{ type: "text", placeholder: "Tell something !", "ng-model" => "tweet.input", "submit-input" => "sendTweet()" }
            .small-2.columns.end{ "ng-click" => "sendTweet()" }
              %a.button.postfix
                %i.fi-arrow-right
          %span {{ 140 - tweet.input.length }} {{ labels.DISPLAY_USER_TWEETS_CHARACTERS_LABEL }}
          %hr
          %p Suggestion
    .row
      .divider
      %h3.subheader.left
        Battle en Cours
      %h3.subheader.right
        %a{:href => "/battles"} Voir Tout
      .large-block-grid-4.battle
        %hr
        .clearfix.battleLine
          .medium-4.columns
            %h4
              %a{ href: "/users/{{ battle.artist_one.id }}" } {{ battle.artist_one.username }}
            %img{ "ng-src" => "{{ '/assets/usersImage/avatars/' + battle.artist_one.image}}" }
            %p{ "ng-if" => "user != false" }
              %span{ "ng-click" => "voteFor(battle, battle.artist_one)", "class" => "label radius {{ voteClass(voteCurrentUser, battle.artist_one.id) }}" } {{ voteText(voteCurrentUser, battle.artist_one.id) }}
            .topFive.text-center{ "ng-if" => "battle.artist_one.topFive.length != 0" }
              %h5
                {{ labels.DISPLAY_BATTLE_TOP_LABEL }}
                %a{ href: "/users/{{ battle.artist_one.id }}" } {{ battle.artist_one.username }}
              %table.small-12
                %tr{ "ng-repeat" => "topFiveOne in battle.artist_one.topFive" }
                  %td
                    %i.fi-play
                  %td
                    {{ topFiveOne.title }}
                  %td
                    {{ topFiveOne.duration }}
                  %td
                    {{ topFiveOne.price }} $
            %h5{ "ng-if" => "battle.artist_one.topFive.length == 0" }
              {{ labels.DISPLAY_BATTLE_NO_MUSIC_LABEL }}
          .medium-4.columns
            %battle{ "battle-values" => "votes" }
            .peopleVote{ "ng-if" => "votes.length > 0" }
              %h5
                {{ labels.DISPLAY_BATTLE_THEY_VOTED_LABEL }}
              %ul.small-block-grid-3.medium-block-grid-2.large-block-grid-3
                %li{ "ng-repeat" => "people in randomVote" }
                  %a{ href: "/users/{{ people.id }}" }
                    %img{ "ng-src" => "{{ '/assets/usersImage/avatars/' + people.image }}" }

          .medium-4.columns
            %h4
              %a{ href: "/users/{{ battle.artist_two.id }}" } {{ battle.artist_two.username }}
            %img{ "ng-src" => "{{ '/assets/usersImage/avatars/' + battle.artist_two.image}}" }
            %p{ "ng-if" => "user != false" }
              %span{ "ng-click" => "voteFor(battle, battle.artist_two)", "class" => "label radius {{ voteClass(voteCurrentUser, battle.artist_two.id) }}" } {{ voteText(voteCurrentUser, battle.artist_two.id) }}
            .topFive.text-center{ "ng-if" => "battle.artist_two.topFive.length != 0" }
              %h5
                {{ labels.DISPLAY_BATTLE_TOP_LABEL }}
                %a{ href: "/users/{{ battle.artist_two.id }}" } {{ battle.artist_two.username }}
              %table.small-12
                %tr{ "ng-repeat" => "topFiveTwo in battle.artist_two.topFive" }
                  %td
                    %i.fi-play
                  %td
                    {{ topFiveTwo.music.title }}
                  %td
                    {{ topFiveTwo.music.duration }}
                  %td
                    {{ topFiveTwo.music.price }} $
            %h5{ "ng-if" => "battle.artist_two.topFive.length == 0" }
              {{ labels.DISPLAY_BATTLE_NO_MUSIC_LABEL }}