.player-content{ "ng-controller" => "PlayerCtrl", "ng-init" => "initPlayer()" }
	#player.small-12
		.small-2.columns
			.controls
				%a.hide-for-medium-up.toHide
					%i.fi-eject
				%a
					%i.fi-previous
				%a{ "ng-click" => "pausePlayer()" }
					%i{ "ng-class" => "(paused) ? 'fi-play' : 'fi-pause'" }
				%a
					%i.fi-next
				.volumeBlock
					%a
						%i{ "ng-class" => "(isVolumeOn()) ? 'fi-volume' : 'fi-volume-strike'" }
						.volumeSelection
							.volumeBackground
							#sliderVolume
				%a{ "ng-click" => "shuffle = !shuffle" }
					%i.fi-shuffle{ "ng-style" => "(shuffle) ? {} : { color: 'gray' }" }
		.small-9.columns
			%p.text-center {{ playlist[indexPlaylist].title }} {{ (playlist[indexPlaylist] != undefined) ? "-" : "" }} {{ timeFormated }}
			%wavesurfer{ url: "", "wave-color" => "#337ab7", "progress-color" => "#FF6600", height: "80", normalize: "true" }
		.small-1.columns.timer
			%i.fi-list-bullet{ "ng-click" => "displayPlaylist()" }
	#currentPlaylist.text-center
		.currentList.columns{ "ng-class" => "user == false ? 'small-12' : 'medium-6'" }
			%h2 Current Playlist
			%div
				%span.button.small.secondary{ "ng-click" => "cleanPlaylist()" }
					%i.fi-trash
					Clean  
				%span.button.small.secondary
					%i.fi-widget
					More...
			.clearfix.small-12.musicInformations{ "ng-show" => "infomusic != false" }
				%i.fi-x.right{ "ng-click" => "moreInformation(false)" }
				%ul.square.left.text-left
					%li
						%span Title :
						%span {{ infomusic.title }}
					%li
						%span Price :
						%span {{ infomusic.price }}
					%li
						%span Duration :
						%span {{ formatedDuration(infomusic.duration) }}
					%li
						%span Album :
						%span {{ infomusic.album.title }}
					%li
						%a{ href: "/albums/{{ infomusic.id }}" } Link to the album page
			%hr
			%div{ "ng-repeat" => "music in playlist track by $index" }
				.clearfix
					.left.songName{ "ng-class" => "($index == indexPlaylist) ? 'currentPlaying' : ''", "ng-click" => "playFromPlaylist($index)" }
						%i.fi-music
						{{ music.title }} - {{ formatedDuration(music.obj.duration) }}
					.right
						%i.fi-info{ "ng-click" => "moreInformation(music.obj)" }
						%i.fi-x{ "ng-click" => "removeMusicFromPlaylist($index)" }
		.myPlaylist.medium-6.columns{ "ng-if" => "user != false" }
			%h2 Your playlists
			%loading{ "ng-if" => "loading" }
			%div.text-left{ "ng-if" => "!loading" }
				%hr
				%div{ "ng-repeat" => "myplaylist in myPlaylists" }
					.clearfix
						.left
							%i.fi-music
							{{ myplaylist.name }}
						.right.relative
							%i.fi-info
							%i.fi-plus
							%i.fi-x{ "ng-click" => "toDelete = myplaylist" }
							.pophover{ "ng-show" => "myplaylist == toDelete" }
								%ul.no-bullet.clearfix
									%li.small-12.columns Are you sure to delete this playlist ?
									%li.choice.small-6.columns{ "ng-click" => "removePlaylist(myplaylist)" } Yes
									%li.choice.small-6.columns{ "ng-click" => "toDelete = false" } No
					%hr