.player-content{ "ng-controller" => "PlayerCtrl", "ng-init" => "initPlayer()" }
	#player.small-12
		.small-2.columns
			.controls
				%a.hide-for-medium-up.toHide
					%i.fi-eject
				%a{ "ng-click" => "previous()" }
					%i.fi-previous
				%a{ "ng-click" => "pausePlayer()" }
					%i{ "ng-class" => "(paused) ? 'fi-play' : 'fi-pause'" }
				%a{ "ng-click" => "next()" }
					%i.fi-next
				.volumeBlock
					%a
						%i{ "ng-class" => "(isVolumeOn()) ? 'fi-volume' : 'fi-volume-strike'" }
						.volumeSelection
							.volumeBackground
							#sliderVolume
				%a{ "ng-click" => "shuffle = !shuffle" }
					%i.fi-shuffle{ "ng-style" => "(shuffle) ? {} : { color: 'gray' }" }
		.small-9.columns
			%p.text-center {{ playlist[indexPlaylist].title }} {{ (playlist[indexPlaylist] != undefined) ? "-" : "" }} {{ timeFormated }}
			%wavesurfer{ url: "", "wave-color" => "#337ab7", "progress-color" => "#FF6600", height: "80", normalize: "true" }
		.small-1.columns.timer
			%i.fi-list-bullet{ "ng-click" => "displayPlaylist()" }
	#currentPlaylist.text-center
		.currentList.columns{ "ng-class" => "user == false ? 'small-12' : 'medium-6'" }
			%h2.drakolomb Current Playlist
			%div
				%span.button.small.alert{ "ng-click" => "cleanPlaylist()" }
					%i.fi-trash
					Clean
				%span.button.small.info{ "ng-click" => "moreClick()" }
					%i.fi-widget
					{{ (more.btn == false) ? "More..." : "Less..." }}
				.small-12.moreless{ "ng-show" => "more.btn == true" }
					.left.relative
						.pophover.popleft{ "ng-show" => "more.pop == 'share'" }
							%ul.no-bullet
								%li Share !
								%li
									%input{ type: "text", "ng-value" => "tmpPlaylistLink()", readonly: "readonly", "select-on-click" => true }
								%li.choice{ "ng-click" => "setMorePop(false)" } Close
					%span{ "ng-click" => "setMorePop('share')" }
						%i.fi-share.blue
						Share
					%span.divider
					%span{ "ng-click" => "setMorePop('save')" }
						%i.fi-save.blue
						Save as new Playlist
					.right.relative
						.pophover.popright{ "ng-show" => "more.pop == 'save'" }
							%ul.no-bullet
								%li Save the playlist as :
								%li
									%input{ type: "text", "ng-model" => "newPlaylistFromCurrent.name" }
								%li.choice{ "ng-click" => "savePlaylistFromCurrent()" } Save
								%li.choice{ "ng-click" => "setMorePop(false)" } Close
			.clearfix.small-12.musicInformations{ "ng-show" => "infomusic.current != false" }
				%i.fi-x.right.red{ "ng-click" => "infoForMusic(false, 'current')" }
				%ul.square.left.text-left
					%li
						%span Title :
						%span {{ infomusic.current.title }}
					%li
						%span Price :
						%span {{ infomusic.current.price }}
					%li
						%span Duration :
						%span {{ formatedDuration(infomusic.current.duration) }}
					%li
						%span Album :
						%span {{ infomusic.current.album.title }}
					%li
						%a{ href: "/albums/{{ infomusic.current.id }}" } Link to the album page
			%hr
			%div{ "ng-repeat" => "music in playlist track by $index" }
				.clearfix
					.left.songName{ "ng-class" => "($index == indexPlaylist) ? 'currentPlaying' : ''", "ng-click" => "playFromPlaylist($index)" }
						%i.fi-music
						{{ music.title }} - {{ formatedDuration(music.obj.duration) }}
					.right
						%i.fi-info.blue{ "ng-click" => "infoForMusic(music.obj, 'current')" }
						%i.fi-x.red{ "ng-click" => "removeMusicFromPlaylist($index)" }
		.myPlaylist.medium-6.columns{ "ng-if" => "user != false" }
			%h2.drakolomb Your playlists
			%loading{ "ng-if" => "loading" }
			.row.collapse
				.small-4.columns
					%span.prefix
						%label.inline{ "for" => "playlistName" } Name :
				.small-6.columns
					%input{ id: "playlistName", type: "text", placeholder: "New Playlist", "ng-model" => "newItem.name" }
				.small-2.columns
					.button.postfix{ "ng-click" => "createPlaylist()" } Save
			.clearfix.small-12.musicInformations{ "ng-show" => "infomusic.playlist != false" }
				%i.fi-x.right.red{ "ng-click" => "infoForMusic(false, 'playlist')" }
				%ul.square.left.text-left
					%li
						%span Title :
						%span {{ infomusic.playlist.title }}
					%li
						%span Price :
						%span {{ infomusic.playlist.price }}
					%li
						%span Duration :
						%span {{ formatedDuration(infomusic.playlist.duration) }}
					%li
						%span Album :
						%span {{ infomusic.playlist.album.title }}
					%li
						%a{ href: "/albums/{{ infomusic.playlist.id }}" } Link to the album page
			%div.text-left{ "ng-if" => "!loading" }
				%hr
				%div{ "ng-repeat" => "myplaylist in myPlaylists" }
					.clearfix.playlistElement
						.left.playlistName{ "ng-click" => "readInfo(myplaylist)" }
							%i.fi-play-video
							{{ myplaylist.name }} - Durée : {{ formatedDuration(myplaylist.duration) }}
						.pophover.popleft.radius-10{ "ng-if" => "toRead == myplaylist" }
							%ul.no-bullet.clearfix
								%li.small-12.choice{ "ng-click" => "replaceToCurrentPlaylist(myplaylist.musics)" }
									Replace the current playlist
								%li.small-12.choice{ "ng-click" => "toRead = addToCurrentPlaylist(myplaylist.musics)" }
									Add to the current playlist
								%li.small-12.choice{ "ng-click" => "readInfo(false)" }
									Close
						.right.relative
							%i.fi-share.blue{ "ng-click" => "myplaylist.share = true" }
							.pophover.popright.radius-10{ "ng-if" => "myplaylist.share == true" }
								%ul.no-bullet.clearfix
									%li.small-12
										%p.link Share this link !
									%li.small-11.small-centered.columns
										%input.radius{ type: "text", "ng-value" => "myplaylist.url", "select-on-click" => true, readonly: "readonly" }
									%li.small-12.choice{ "ng-click" => "unshare(myplaylist)" } Close
							%i{ "ng-class" => "myplaylist.extend == false ? 'fi-plus green' : 'fi-minus red'", "ng-click" => "myplaylist.extend = !myplaylist.extend" }
							%i.fi-x.red{ "ng-click" => "toDelete = myplaylist" }
							.pophover.popright.radius-10{ "ng-show" => "myplaylist == toDelete" }
								%ul.no-bullet.clearfix
									%li.small-12.columns Are you sure to delete this playlist ?
									%li.choice.small-6.columns{ "ng-click" => "removePlaylist(myplaylist)" } Yes
									%li.choice.small-6.columns{ "ng-click" => "toDelete = false" } No
					%ul.no-bullet.aPlaylist{ "ng-class" => "myplaylist.extend ? 'open' : ''" }
						%li.row{ "ng-repeat" => "music in myplaylist.musics" }
							%i.fi-x.red.left{ "ng-click" => "removeFromPlaylist(music, myplaylist)" }
							%i.fi-info.blue.left{ "ng-click" => "infoForMusic(music, 'playlist')" }
							.musicItemImg.th.left
								%img{ "ng-src" => "{{ '/assets/albums/' + music.album.image }}" }
							%p.musicItemText.text-center.left
								{{ music.title }}

					%hr