.playlist{ "ng-init" => "showInit()" }
	%loading{ "ng-if" => "loading" }
	.playlistContainer{ "ng-if" => "!loading" }
		%h3{ "ng-if" => "playlist_obj.musics.length == 0" } {{ labels.DISPLAY_PLAYLIST_EMPTY_LABEL }}
		.playlistHeader.clearfix{ "ng-if" => "playlist_obj.musics.length != 0" }
			.previewPlaylist.small-12.medium-3.columns
				%img{ "ng-src" => "{{ '/assets/albums/' + playlist_obj.musics[0].album.image }}" }
			.small-12.medium-9.columns.columns
				%h3{ "ng-if" => "playlist_obj.name != null" } {{ playlist_obj.name }}
				%p
					%span{ "ng-if" => "playlist_obj.user != null" } {{ labels.DISPLAY_PLAYLIST_FROM_LABEL }}
					%a{ "ng-if" => "playlist_obj.user != null", href: "/users/{{ playlist_obj.user.id }}" } {{ playlist_obj.user.username }}
					%span{ "ng-if" => "playlist_obj.user != null" } - 
					%span {{ playlist_obj.musics.length }} {{ labels.DISPLAY_PLAYLIST_MUSICS_LABEL }}
				%ul.button-group
					%li.relative
						%span.button{ "ng-click" => "listenPlaylist()" }
							%i.fi-music
							{{ labels.DISPLAY_PLAYLIST_LISTEN_LABEL }}
					%li.relative
						%span.button{ "ng-click" => "setTooltip('share')" }
							%i.fi-share
							{{ labels.DISPLAY_PLAYLIST_SHARE_LABEL }}
						.mytooltip.toolright{ "ng-if" => "tooltip == 'share'", "ng-include" => "'/assets/AngularJS/views/include/tooltip.html.haml'", "ng-controller" => "TooltipCtrl", "ng-init" => "tooltipInit(null, 3, 'http://lvh.me:3000/playlists/' + playlist_obj.id)" }
					%li.relative{ "ng-if" => "user != false" }
						%div
							.button.relative{ "ng-click" => "setTooltip('saveAsNewPl')" }
								%i.fi-save
								{{ labels.DISPLAY_PLAYLIST_NEW_PLAYLIST_LABEL }}
							.mytooltip.toolright{ "ng-if" => "tooltip == 'saveAsNewPl'", "ng-include" => "'/assets/AngularJS/views/include/tooltip.html.haml'", "ng-controller" => "TooltipCtrl", "ng-init" => "tooltipInit(null, 2, playlist_obj)" }
		.playlistContent{ "ng-if" => "playlist_obj.musics.length != 0" }
			.playlistMusic{ "ng-repeat" => "music in playlist_obj.musics track by $index"}
				%hr
				.clearfix.item
					.small-1.medium-1.large-1.columns
						%p
							{{ $index + 1}}
					.small-3.medium-2.large-1.columns
						%music{ "music-object" => "music" }
							%img{ "ng-src" => "{{ '/assets/albums/' + music.album.image }}" }
					.small-5.medium-7.large-8.columns
						%music{ "music-object" => "music" } {{ music.title }}
					.small-3.medium-2.large-2.columns
						.left {{ formatTime(music.duration) }}
						.text-right.relative
							%i.fi-plus{ "ng-click" => "setTooltip(tooltip == music ? false : music)" }
							.mytooltip.toolright{ "ng-if" => "tooltip == music", "ng-include" => "'/assets/AngularJS/views/include/tooltip.html.haml'", "ng-controller" => "TooltipCtrl", "ng-init" => "tooltipInit(music, 1)" }
			%hr