.discotheque{ "ng-init" => "discoInit()" }
	%loading{ "ng-if" => "loading == true" }
	.discothequeContainer{ "ng-if" => "loading == false" }
		%h3 {{ "labels. musics" }}
		%hr
		.music{ "ng-if" => "mymusic.musics.length > 0" }
			.clearfix{ "ng-repeat" => "music in mymusic.musics" }
				.small-3.medium-2.large-1.columns
					%music{ "music-object" => "music" }
						%img{ "ng-src" => "{{ '/assets/albums/' + music.album.image }}" }
				.small-6.medium-8.large-9.columns
					%music{ "music-object" => "music" } {{ music.title }}
				.small-3.medium-2.large-2.columns
					.left {{ formatTime(music.duration) }}
					%p.text-right.relative
						%i.fi-plus{ "ng-click" => "setTooltip(tooltip == false ? music : false)" }
						.mytooltip.toolright{ "ng-show" => "tooltip == music" }
							%ul.no-bullet
								%li.choice{ "ng-if" => "user != false", "ng-click" => "selectMusic(music)" } {{ labels.DISPLAY_PLAYER_ADD_PLAYLIST_LABEL }}
								%li.playlistBlock{ "ng-if" => "selectedMusic == music" }
									%hr
									%ul.text-left.small-12.playlistList
										%li.choice.small-12.playlistChoice{ "ng-repeat" => "myplaylist in myPlaylists" }
											%input{ "ng-model" => "myplaylist.check", type: "radio", id: "playlist-{{myplaylist.id}}", "ng-value" => "true" }
											%label{ "for" => "playlist-{{myplaylist.id}}" } {{ myplaylist.name }}
										%li.small-12.text-center
											.button.tiny{ "ng-click" => "addToPlaylist()" } {{ labels.DISPLAY_PLAYER_ADD_PLAYLIST_BUTTON }}
									%hr
								%li.choice
									%music.small-12{ "music-object" => "music", "ng-click" => "setTooltip(false)" } {{ labels.DISPLAY_PLAYER_LISTEN_LABEL }}
								%li
									.button.tiny{ "ng-click" => "setTooltip(false)" } {{ labels.DISPLAY_PLAYER_CLOSE_LABEL }}
				%hr
		%p{ "ng-if" => "mymusic.musics.length == 0" } {{ "labels. No content" }}
		%h3 {{ "labels. albums" }}
		%hr
		.album{ "ng-if" => "mymusic.albums.length > 0" }
			%p{ "ng-repeat" => "album in mymusic.albums" } {{ album }}
		%p{ "ng-if" => "mymusic.albums.length == 0" } {{ "labels. No content" }}
		%h3 {{ "labels. packs" }}
		%hr
		.pack{ "ng-if" => "mymusic.packs.length > 0" }
			%p{ "ng-repeat" => "pack in mymusic.packs" } {{ pack }}
		%p{ "ng-if" => "mymusic.packs.length == 0" } {{ "labels. No content" }}