.discotheque{ "ng-init" => "discoInit()" }
	%loading{ "ng-if" => "loading == true" }
	.discothequeContainer{ "ng-if" => "loading == false" }
		%h3 {{ labels.DISPLAY_DISCOTHEQUE_MUSIC_LABEL }}
		%hr
		.music{ "ng-if" => "mymusic.musics.length > 0" }
			.musicContent{ "ng-repeat" => "music in mymusic.musics" }
				.clearfix
					.small-2.medium-2.large-1.columns
						%music{ "music-object" => "music" }
							%img{ "ng-src" => "{{ '/assets/albums/' + music.album.image }}" }
					.small-5.large-7.columns
						%music{ "music-object" => "music" } {{ music.title }}
					.small-4.large-2.columns
						.left {{ formatTime(music.duration) }}
						.text-right.relative
							%i.fi-plus.pointer{ "ng-click" => "setTooltip(tooltip == false ? music : false)" }
							.mytooltip.toolright{ "ng-show" => "tooltip == music" }
								%ul.no-bullet
									%li.choice{ "ng-if" => "user != false", "ng-click" => "selectMusic(music)" } {{ labels.DISPLAY_DISCOTHEQUE_ADD_PLAYLIST_LABEL }}
									%li.playlistBlock{ "ng-if" => "selectedMusic == music" }
										%hr
										%ul.no-bullet.text-left.small-12.playlistList
											%li.choice.small-12.playlistChoice{ "ng-repeat" => "myplaylist in myPlaylists" }
												%input{ "ng-model" => "myplaylist.check", type: "radio", id: "playlist-{{myplaylist.id}}", "ng-value" => "true" }
												%label{ "for" => "playlist-{{myplaylist.id}}" } {{ myplaylist.name }}
											%li.small-12.text-center
												.button.tiny{ "ng-click" => "addToPlaylist()" } {{ labels.DISPLAY_DISCOTHEQUE_ADD_PLAYLIST_BUTTON }}
										%hr
									%li.choice
										%music.small-12{ "music-object" => "music", "ng-click" => "setTooltip(false)" } {{ labels.DISPLAY_DISCOTHEQUE_LISTEN_LABEL }}
									%li
										.button.tiny{ "ng-click" => "setTooltip(false)" } {{ labels.DISPLAY_DISCOTHEQUE_CLOSE_LABEL }}
					.small-1.columns
						%i.fi-download.pointer{ "ng-click" => "download(music)" }
				%hr
		%p{ "ng-if" => "mymusic.musics.length == 0" } {{ labels.DISPLAY_DISCOTHEQUE_NOTHING_LABEL }}
		%h3 {{ labels.DISPLAY_DISCOTHEQUE_ALBUM_LABEL }}
		%hr
		.album{ "ng-if" => "mymusic.albums.length > 0" }
			.albumContent{ "ng-repeat" => "album in mymusic.albums" }
				.clearfix
					.small-3.medium-2.columns
						%img{ "ng-src" => "{{ '/assets/albums/' + album.image }}" }
						%h5.text-center
							%a{ href: "/albums/{{ album.id }}" } {{ album.title }}
					.small-9.medium-10.columns
						.clearfix{ "ng-repeat" => "music in album.musics" }
							.small-8.columns
								%music{ "music-object" => "music" } {{ music.title }}
							.small-2.columns
								.left.hide-for-small-only.hide-for-medium-only {{ formatTime(music.duration) }}
								.text-right.relative
									%i.fi-plus.pointer{ "ng-click" => "setTooltip(tooltip == false ? music : false)" }
									.mytooltip.toolright{ "ng-show" => "tooltip == music" }
										%ul.no-bullet
											%li.choice{ "ng-if" => "user != false", "ng-click" => "selectMusic(music)" } {{ labels.DISPLAY_DISCOTHEQUE_ADD_PLAYLIST_LABEL }}
											%li.playlistBlock{ "ng-if" => "selectedMusic == music" }
												%hr
												%ul.no-bullet.text-left.small-12.playlistList
													%li.choice.small-12.playlistChoice{ "ng-repeat" => "myplaylist in myPlaylists" }
														%input{ "ng-model" => "myplaylist.check", type: "radio", id: "playlist-{{myplaylist.id}}", "ng-value" => "true" }
														%label{ "for" => "playlist-{{myplaylist.id}}" } {{ myplaylist.name }}
													%li.small-12.text-center
														.button.tiny{ "ng-click" => "addToPlaylist()" } {{ labels.DISPLAY_DISCOTHEQUE_ADD_PLAYLIST_BUTTON }}
												%hr
											%li.choice
												%music.small-12{ "music-object" => "music", "ng-click" => "setTooltip(false)" } {{ labels.DISPLAY_DISCOTHEQUE_LISTEN_LABEL }}
											%li
												.button.tiny{ "ng-click" => "setTooltip(false)" } {{ labels.DISPLAY_DISCOTHEQUE_CLOSE_LABEL }}
							.small-2.columns
								%i.fi-download.pointer{ "ng-click" => "download(music)" }
				%hr
		%p{ "ng-if" => "mymusic.albums.length == 0" } {{ labels.DISPLAY_DISCOTHEQUE_NOTHING_LABEL }}
		%h3 {{ labels.DISPLAY_DISCOTHEQUE_PACK_LABEL }}
		%hr
		.pack{ "ng-if" => "mymusic.packs.length > 0" }
			.packContainer{ "ng-repeat" => "pack in mymusic.packs track by $index" }
				%h4
					%span{ "ng-class" => "{ redBorder: ($index % 3 == 0), blueBorder: ($index % 3 == 1), greenBorder: ($index % 3 == 2) }" } {{ pack.title }}
				.packContent.clearfix{ "ng-repeat" => "album in pack.albums", "ng-class" => "{ redBorder: ($index % 3 == 0), blueBorder: ($index % 3 == 1), greenBorder: ($index % 3 == 2) }" }
					.small-3.medium-2.columns
						%img{ "ng-src" => "{{ '/assets/albums/' + album.image }}" }
						%h5.text-center
							%a{ href: "/albums/{{ album.id }}" } {{ album.title }}
					.small-9.medium-10.columns
						.clearfix{ "ng-repeat" => "music in album.musics" }
							.small-8.columns
								%music{ "music-object" => "music" } {{ music.title }}
							.small-2.columns
								.left.hide-for-small-only.hide-for-medium-only {{ formatTime(music.duration) }}
								.text-right.relative
									%i.fi-plus.pointer{ "ng-click" => "setTooltip(tooltip == false ? music : false)" }
									.mytooltip.toolright{ "ng-show" => "tooltip == music" }
										%ul.no-bullet
											%li.choice{ "ng-if" => "user != false", "ng-click" => "selectMusic(music)" } {{ labels.DISPLAY_DISCOTHEQUE_ADD_PLAYLIST_LABEL }}
											%li.playlistBlock{ "ng-if" => "selectedMusic == music" }
												%hr
												%ul.no-bullet.text-left.small-12.playlistList
													%li.choice.small-12.playlistChoice{ "ng-repeat" => "myplaylist in myPlaylists" }
														%input{ "ng-model" => "myplaylist.check", type: "radio", id: "playlist-{{myplaylist.id}}", "ng-value" => "true" }
														%label{ "for" => "playlist-{{myplaylist.id}}" } {{ myplaylist.name }}
													%li.small-12.text-center
														.button.tiny{ "ng-click" => "addToPlaylist()" } {{ labels.DISPLAY_DISCOTHEQUE_ADD_PLAYLIST_BUTTON }}
												%hr
											%li.choice
												%music.small-12{ "music-object" => "music", "ng-click" => "setTooltip(false)" } {{ labels.DISPLAY_DISCOTHEQUE_LISTEN_LABEL }}
											%li
												.button.tiny{ "ng-click" => "setTooltip(false)" } {{ labels.DISPLAY_DISCOTHEQUE_CLOSE_LABEL }}
							.small-2.columns
								%i.fi-download.pointer{ "ng-click" => "download(music)" }
					%hr
		%p{ "ng-if" => "mymusic.packs.length == 0" } {{ labels.DISPLAY_DISCOTHEQUE_NOTHING_LABEL }}