.discotheque
	.discothequeContainer
		.myMusics
			%h3 {{ album.title }}
			%hr
			.modalMusicContent
				.grid
					%ul.inline-list
						%li.text-center{ "ng-repeat" => "music in album.musics" }
							%div
								%img{ "ng-src" => "{{ '/assets/albums/' + album.image }}" }
							%span {{ music.title }}
							.overPlay
								%music{ "music-object" => "music" }
									%i.fi-play
								%i.fi-download.pointer{ "ng-click" => "download(music)" }
%a.close-reveal-modal{ "ng-click" => "cancel()" } ×