.indexNews{ "ng-init" => "initIndexNews()" }
  %loading{ "ng-if" => "loading == true" }
  .clearfix{ "ng-if" => "loading == false" }
    %h2 {{ labels.DISPLAY_NEWS_LABEL }}
    .small-11.small-centered.columns
      .newsItem{ "ng-repeat" => "new in news"}
        .panel.radius.clearfix
          .contentNewsContainer.clearfix
            .small-12.columns.medium-6.large-8.columns.left
              .title.text-center
                %a{:href=>"http://lvh.me:3000/news/" + "{{new.id}}" }
                  {{ new.title }}
            .illustration.small-12.medium-6.large-4.columns.right{"ng-repeat" => "url in new.attachments|limitTo:2" }
              %a{:href=>"/news/" + "{{new.id}}" }
                %img{"ng-src" => "{{ '/assets/news/' + url.url }}"}
            .small-12.columns.medium-6.large-8.columns.left
              .contentNews
                {{ new.content }}
              %a.linkNews{:href=>"/news/" + "{{new.id}}" } {{ labels.DISPLAY_NEWS_SHOW_MORE }}
// Need pagination