%div{ "ng-init" => "showNews()" }
  %loading{ "ng-if" => "loading == true" }
  .row{ "ng-if" => "loading == false", "ng-init" => "initFoundation()"}
    %h3.subheader
      Listing news
    .ul.small-11.small-centered.columns{"ng-show" => "News"}
      %li{ "ng-repeat" => "new in news"}
        .panel.radius.news
          %h5.subheader.text-center
            {{ new.title }}
          %h6{"ng-repeat" => "text in new.newstexts"}
            {{ text.content }}
          .divider
            
      .pagination-centerd.small-4.small-centered.columns
        %ul.pagination
          %li.arrow.unavailable
            %a{:href => ""} «
          %li.current
            %a{:href => ""} 1
          %li
            %a{:href => ""} 2
          %li.unavailable
            %a{:href => ""} ...
          %li
            %a{:href => ""} 3
          %li.arrow
            %a{:href => ""} »