.news{ "ng-init" => "showNews()" }
  %loading{ "ng-if" => "loading == true" }
  .row{ "ng-if" => "loading == false", "ng-init" => "initNews()"}
    %h3.subheader
      {{ labels.DISPLAY_NEWS_LABEL }}
    .ul.small-11.small-centered.columns{"ng-show" => "News"}
      %li{ "ng-repeat" => "new in news"}
        .panel.radius
          .title
            %h5.subheader.text-center
              %a{:href=>"http://lvh.me:3000/news/" + "{{new.id}}" }
                {{ new.title }}
          .small-12.small-centered.columns.vignette{"ng-repeat" => "url in new.attachments" }
            %a{:href=>"http://lvh.me:3000/news/" + "{{new.id}}" }
              %img{"ng-src" => "{{ url.url }}"}
          .content
            %h6{"ng-repeat" => "text in new.newstexts"}
              {{ text.content }}
          .right
            %a{:href=>"http://lvh.me:3000/news/" + "{{new.id}}" } {{ labels.DISPLAY_NEWS_SHOW_MORE }}
        %loading{ "loading-type" => "'square'", "ng-show" => "commentLoading == true" }

