.news{ "ng-init" => "showNewsById()" }
  %loading{ "ng-if" => "loading == true" }
  .clearfix{ "ng-if" => "loading == false", "ng-init" => "initOneNews()", "on-scroll" => "showComments()", "scroll-position" => "'bottom'"}
    .small-11.small-centered.columns{"ng-show" => "thisNewsId"}
      .panel.radius
        %h3.subheader
          %ul.inline-list
            %li.left.small-3.columns.author
              {{ author.username }}
            %li.small-3.small-centered.columns.title
              {{ thisNews.title }}
            %li.right.small-3.columns.date
              {{ thisNews.date | date:"MM/dd/yyyy 'at' h:mma"}}
        %div{"ng-repeat" => "url in attachments" }
          %img{"ng-src" => "{{ '/assets/news/' + url.url }}"}
        %p.black
          {{ thisNews.content }}
      %meta{:property => "og:url", :content => "http://www.lvh.me:3000/news/{{thisNews.id}}"}
      %meta{:property => "og:type", :content => "article"}
      %meta{:property => "og:title", :content => "{{thisNews.title}}"}
      %meta{:property => "og:description", :content => "{{thisNews.title}}"}
      %meta{:property => "og:image", :content => "http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg"}
      .large-12
        %textarea.radius{"placeholder" => "Ecrire un commentaire", "ng-model" => "commentary.content"}
        .action.clearfix
          // Share Facebook
          .fb-share-button{":data-href" => "http://www.lvh.me:3000/news/{{thisNews.id}}", ":data-layout" => "button_count"}
          // Share Twitter
          %a.twitter-share-button{"data-hashtags" => "Soonzik", "data-url" => "http://lvh.me:3000/news/{{thisNews.id}}", "data-text" => "{{thisNews.title}}", "data-via" => "Soonzik", :href => "https://twitter.com/share"} Tweet
          // Share Google +
          
          /%button.g-interactivepost{"data-calltoactiondeeplinkid" => "/pages/create", "data-calltoactionlabel" => "CREATE", "data-calltoactionurl" => "http://plus.google.com/pages/create", "data-clientid" => "xxxxx.apps.googleusercontent.com", "data-contentdeeplinkid" => "/pages", "data-contenturl" => "http://lvh.me:3000/news/1", "data-cookiepolicy" => "single_host_origin", "data-prefilltext" => "News 1"} Tell your friends

          .button.success.radius{:type => "submit", "ng-click" => "postComment()"} Envoyer
    .commentariesContainer{ "ng-include" => "'/assets/AngularJS/views/commentaries/index.html.haml'" }
    %loading{ "loading-type" => "'square'", "ng-show" => "commentLoading == true" }
