.news{ "ng-init" => "showNewsById()" }
  %loading{ "ng-if" => "loading == true" }
  .row{ "ng-if" => "loading == false", "ng-init" => "initFoundation()"}
    .clearfix
      .ul.small-11.small-centered.columns{"ng-show" => "thisNewsId"}
        .panel.radius
          %h3.subheader
            %ul.inline-list
              %li.left.small-3.columns.author
                {{ author.username }}
              %li.small-3.small-centered.columns.title
                {{ thisNews.title }}
              %li.right.small-3.columns.date
                {{ thisNews.date | date:"MM/dd/yyyy 'at' h:mma"}}
          %p{"ng-repeat" => "url in attachments" }
            %img{"ng-src" => "{{ url.url }}"}
          %p{"ng-repeat" => "text in thisNews.newstexts"}
            {{ text.content }}
        .large-12
          %textarea.radius{"placeholder" => "Ecrire un commentaire", "ng-model" => "commentary.content"}
          .action
            %i.step.fi-social-facebook.size-36
            %i.step.fi-social-twitter.size-36
            %i.step.fi-social-google-plus.size-36
            .button.success.radius{:type => "submit", "ng-click" => "addComment"} Envoyé
          .panel.content-comment{"ng-repeat" => "comment in comments"}
            .info-user
              .photo
                %img{"ng-src" => "{{ comment.user.image }}"}
              .info
                %cite
                  {{ comment.user.username }} | {{ comment.created_at }}
            .divider
            .comment
              {{ comment.content }}
